@page "/aboutus"

<div class="container">
    <img src="Image/Artboard 1 copy.png" class="responsive" width="768" height="563">
</div>

<div class="text-box">
    <h3 class="aboutheader">BACKGROUND</h3>

    The fact is that the teacher student ratio in India does not favour personal attention to each child. The other fact is that every child is unique and requires as much personal attention as possible to help it  blossom in a potent adult.
    <span> <br />&nbsp;<br /></span>
    Children seek personal attention by attending tuitions with teachers near their homes.  The choice of teacher is often constrained by the commute.   The pandemic changed this mindset in all of us.
    <span> <br />&nbsp;<br /></span>
    Teachers are not marketing and sales personnel.  They are teachers.
    They do not actively go around soliciting students.
    There are hundreds of qualified teachers who are often home makers.
    Their knowledge is not being transferred to where it is required.
    <span> <br />&nbsp;<br /></span>
    Why should knowledge be held back due to constraints of distance, facilities or sales promotion?   This is the question that got us thinking about making a difference to the students and teachers of India.
    <span> <br />&nbsp;<br /></span>
    The pandemic removed all barriers to online education that possibly existed in the minds of the average citizen of India.  Children have adapted to remote learning remarkably.   So have their families.
    <span> <br />&nbsp;<br /></span>
    This is the time to accelerate the process of  bringing  knowledge seekers and providers closer to one another.

</div>
<br />
<div class="text-box">
    <h3 class="aboutheader">Inspiration</h3>
    As a team we have been working with the education of children for some time now.  The pandemic we are experiencing exposed the need to rethink the way children were accessing “After school education” to have their individual needs met.
    <span><br /> &nbsp;<br /></span>
    When we watch the children we deal with everyday wielding their mobile phones and the Internet with great confidence the answer is  obvious to us.  We need to do something to make many more children connect with many more repositories of knowledge - the Teachers.
    <span> <br />&nbsp;<br /></span>
    The inspiration for this effort came from the children of India.  It is their drive to succeed, their hunger for knowledge and their determination to excel despite all odds.

</div>

@*<div class="text-box">
        <div>

        </div>
    </div>*@
<div class="box">
    <img class="responsive" src="Image/GJVG.png">
    <div class="about1 font-weight-bold">
        Goverdhan Jayaram
    </div>
    <div class="about2 font-weight-bold">
        Founder and CEO
    </div>
    <div class="about3 ">
        A graduate of the National Defence Academy, Indian Military Academy and a former Major in the Indian Army.<br />
        Has over 26 years of experience in the IT industry leading application development projects  for customers in the US, UK and India.
    </div>
    <div class="about4 font-weight-bold">
        Varun Goverdhan
    </div>
    <div class="about5 font-weight-bold">
        CTO
    </div>
    <div class="about6 ">
        A graduate in Computer Science from the University of Illinois, Urbana – Champaign. <br />
        MS in Technology, Innovation and Education from the Harvard Graduate School of Education.<br />
        A Teach for India volunteer who dedicated years of his life to educate underprivileged young students.
    </div>
</div>


    @*<div class="row">
            <div class="container">
                <img src="Image/GJVG.png" class="responsive" width="768" height="563">
            </div>
                <div class="col-6">
                    text11
                </div>
                <div class="col-6">
                    text21
                </div>

        </div>*@

    @*<div class="container">
            <img src="Image/Problems.png" class="responsive" width="768" height="563">
        </div>
        <div class="container">
            <img src="Image/GJandVG.png" class="responsive" width="768" height="563">
        </div>*@


    @code {

    }
